<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487341729545-ug0og9qt18hhn422jqppceo2ij2m727q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487341729545-ug0og9qt18hhn422jqppceo2ij2m727q</string>
	<key>API_KEY</key>
	<string>AIzaSyAGfIgMBGf9atpHxpjtrQ74ilWC8pFrAKk</string>
	<key>GCM_SENDER_ID</key>
	<string>487341729545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nesvier.upcapp.upCompanionApp</string>
	<key>PROJECT_ID</key>
	<string>up-companion-app</string>
	<key>STORAGE_BUCKET</key>
	<string>up-companion-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487341729545:ios:ced17243ce7fce0ec3d5d8</string>
</dict>
</plist>